@font-face {
  font-family: "Raleway";
  src: url('../fonts/RalewayMedium.woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/RalewayBold.woff2');
  font-weight: 700;
  font-display: swap;
}

