*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.page__body {
  font-family: var(--font-family);
  background-color: var(--background);
  overflow-x: hidden;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: calc(var(--container-width) + (var(--container-offset) *2));
  padding: 0 var(--container-offset);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.none {
  display: none;
}
